<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  
</head>

<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>    
  <header>
    

 <div class="login">
	<h3 style="font-family: monospace">Spurious - NEWS Analysis Engine</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="news" placeholder="Enter the news url" required="required" /><br>
        <button type="submit" class="but1 btn-hover color-1">Check</button>

    </form>
      {{ prediction_text }}
      
   <br>
    <div style="text-align: center; align-content: left; position: dynamic">
<a class="twitter-timeline" data-width="800" data-height="250" data-theme="dark" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    <script>
         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();
    </script>
     <br>
      </div>
 
 </div> 

</body>
</html>